# **E-Mail Spam Classifier using Logistic Regression.**

IMPORTING LIBRARIES

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer  # text into numerical features
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

DATA LOAD AND DATA PREPROCESSING

In [2]:
mail_data = pd.read_csv("/content/mail_data.csv")
mail_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [ ]:
#mails can be either of spam or ham(genuine email) category

In [7]:
mail_data.info()  #checking the data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5572 non-null   object
 1   Message   5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [6]:
#replace null values with an empty string to make sure there are no null fields
mail_data = mail_data.where((pd.notnull(mail_data)),'')

Label Encoding

In [8]:
#Label Encoding - ham -> 1 and spam -> 0
mail_data.loc[mail_data['Category'] == 'spam', 'Category'] = 0
mail_data.loc[mail_data['Category'] == 'ham', 'Category'] = 1

In [9]:
mail_data.head()

  Category                                            Message
0        1  Go until jurong point, crazy.. Available only ...
1        1                      Ok lar... Joking wif u oni...
2        0  Free entry in 2 a wkly comp to win FA Cup fina...
3        1  U dun say so early hor... U c already then say...
4        1  Nah I don't think he goes to usf, he lives aro...

In [10]:
# dividing the data into text(message) and label(category)
X = mail_data['Message']
y = mail_data['Category']

In [11]:
X

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will Ã¼ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

Train - Test Split
*   80% train and 20% test

In [12]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=3)

FEATURE EXTRACTION USING TFIDF

In [13]:
#transforming text into numerical features
features = TfidfVectorizer(min_df=1, stop_words='english',lowercase=True)
X_train_features = features.fit_transform(X_train)
X_test_features = features.transform(X_test)

#converting y values as integers

y_train = y_train.astype('int')
y_test = y_test.astype('int')

In [ ]:
print(X_train_features)

TRAINING LOGISTIC REGRESSION MODEL

In [17]:
log_model = LogisticRegression()

In [18]:
log_model.fit(X_train_features,y_train)

LogisticRegression()

In [19]:
#evaluating the trained model

#prediction on train data

train_prediction = log_model.predict(X_train_features)
train_accuracy = accuracy_score(y_train,train_prediction)
print("Training accuracy : ", train_accuracy)

Training accuracy :  0.9670181736594121

In [20]:
test_prediction = log_model.predict(X_test_features)
test_accuracy = accuracy_score(y_test,test_prediction)
print("Test accuracy : ", test_accuracy)

Test accuracy :  0.9659192825112107

Accuracy is similar on both test and train data. So the model has perfomed well without overfitting.

BUILDING PREDICTIVE SYSTEM

In [30]:
email = ["Todays Voda numbers ending 7548 are selected to receive a $350 award. Please man If you have a match please call 08712300220 quoting claim code 4041 standard rates app"]

In [31]:
#convert email to feature vectore
email_feature = features.transform(email)

In [33]:
#making prediction
prediction = log_model.predict(email_feature)
if prediction == 0:
  print("SPAM EMAIL")
else:
  prnt("NON-SPAM EMAIL")

SPAM EMAIL